:root {

  /*Color palette*/
  --snow: #fbf5f3ff;            /*letter*/
  --fulvous: #e28413ff;         /*title background & link highlight*/ 
  --oxford-blue: #000022ff;     /*background*/ 
  --celadon-blue: #407899ff;    /*blue contrast */ 
  --venetian-red: #bf211eff;    /*red contrast*/

  /* General background color */
  --bkg_pres_color: var(--oxford-blue);

  /* Title background color */
  --bkg_title: var(--fulvous);

  /* Color for all the letters in the presentation */
  --letter_color: var(--snow);

  /* Color for link highlight */
  --highlight: var(--fulvous);

  /* Colors that contrasts with the background,
     used to give emphasis to a text. */
  --bkg_contrastR: var(--venetian-red);
  --bkg_contrastB: var(--celadon-blue);
}

.reveal {
  background-color: var(--bkg_pres_color);
  
}

a {
  color: var(--highlight) !important;
}

p, h3 {
  color: var(--letter_color) !important;
}

p {
  font-size: 0.8em;
  font-weight: bold;
}

li {font-size: 0.7em;
  margin: 4% 0;
}
li.bkg_B{
  display: inline;
  padding: 0 5px;
  background-color: var(--bkg_contrastB);
  border-radius: 10px;
}
.table,
.monthview-datetable td,
.monthview-datetable th {
  border: none !important;
}
/* First Slide */


.first_slide {
  min-height: 100% !important;
  display: grid !important;
  grid-template-rows: 25% 45% 25% !important;
  grid-template-columns: auto auto auto auto !important;
  grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
}

.first_slide p {
  font-size: 0.7em;
  line-height: 0.65em;
}

.presentation_title {
  grid-area: header;
  display: grid;
  justify-content: center
  align-self: center;
  text-align: center;
  border-radius: 5px;
  background-color: var(--bkg_title);
}

/* Broad */

/* Break the slide in three parts */
.with_body_footer {
  min-height: 100% !important;
  display: grid !important;
  grid-template-rows: 13.5% auto 10% !important;
  grid-template-areas: 
      "header"
      "main"
      "footer";
}

/* Contrast to the background */
.bkg_contrastR{
  display: inline;
  
  padding: 0 5px;
  background-color: var(--bkg_contrastR);
  border-radius: 10px;
}

.bkg_contrastB{
  display: inline;
  padding: 0 5px;
  background-color: var(--bkg_contrastB);
  border-radius: 10px;
}
table.kms td {
background-color: #000022ff;
}

table.kms td:hover {
background-color: #000022ff;
}

